html {
  background-color: #ccc;
}
* {
    box-sizing: border-box;
}
img {
margin-top: 50px;
width: 150px;
height: 150px;
border-radius: 50%;
border: 3px solid white;
transition: all .5s;
}
img:hover {
  transform: scale(1.2) rotate(360deg);
}
header {
  text-align: center;

}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.red {
  color: red;
}
.block {

  width: 300px;
  margin: 40px 40px 40px;
  padding: 10px auto;
  text-align: left;
  border-bottom: 5px solid black;
}
.block:hover{
  border-color:purple;
}
.para {
  font-size: .75em;
}
